<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Password Recovery</title>
	</head>
	<body>
		<h1>Password Reset Request</h1>
		<p>
			We've received a request to reset the password for an account
			associated with <a href="mailto:{%email%}">{%email%}</a>.
			<b>
                Note: If you didn't make that request, please ignore this email
				as someone maybe trying to break into your account(do not send
				him/her this email if they ask you to do so).
            </b>
		</p>
        <p>Here's your token: {%token%}</p>
	</body>
</html>
